* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

header {
    background-image: url(GreenBG.jpg);
    background-size: cover ;
    margin: auto -16px;
    padding: 16px;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    padding-top: 16px;
    font-size: 4rem;
    text-align: center;
}

.headersmall {
    background-color: #AEC3AE;
    margin: auto -16px;

}

.centered {
    text-align: center;
}

.resume {
    text-align: center;
    padding: 32px;
}
h2{
    text-align: center;
}

body {
    background: #94A684;
    padding: 0 16px;
  }

.basicpadding {
    padding-bottom: 50px;
}
cards {
    padding: 32px;
}

footer {
    background-color: #FFEEF4;
    text-align: center;
    margin: auto -16px;
    padding: 32px;
    bottom: 0;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }

.card-img-overlay h3 {
    text-align: center;
    bottom: 0;
    position: absolute;
}
