* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca';font-size: 17px;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 30px;
  }
  
header {
    background-image: url(GreenBG2.jpg);
    background-size: cover ;
    height: 100vh;
    margin: auto -16px;
    padding: 16px;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.headerdiv {
    margin:0 auto;
    width: 95%
}
.fullbody {
    padding: 0px !important;
}
header h1 {
    font-size: 5rem;
    text-align: center;
}

header h2 {
    text-align: center;
    font-size: 2rem;

}
header img {
    width: 375px;
    height: 375px;
}

.headersmall {
    background-color: #AEC3AE;
    margin: auto -16px;

}
.toppadding {
margin-top: 35px;
}

nav{
    background-color: rgb(62, 61, 61);
}

nav .navbar-nav li a{
    color: white !important;
    font-size: large;
    }

.centered {
    text-align: center;
}

.rightalign {
    text-align: right;
}

.resume {
    text-align: center;
    padding: 32px;
}
h2{
    text-align: center;
}

body {
    background: #94A684;
    background: linear-gradient(#94A684, #AEC3AE, #E4E4D0, #FFEEF4);
    padding: 0 1vw;
  }

.basicpadding {
    padding-bottom: 50px;
}
cards {
    padding: 32px;
}

.banner {
    background-color: #94A684;
    text-align: center;
    margin: auto -16px;
    padding: 32px;
    bottom: 0;
    height: 2.5rem;
}

.footer {
    background-color: #FFEEF4;
    text-align: center;
  }
  
.footer p {
    color: #ccc;
}

.footerText{
    font-size: 1.4rem;
}

.card-img-overlay h3 {
    text-align: center;
    bottom: 0;
    position: absolute;
}

.defaultoutlinebutton {
    padding: 16px;
}

#aboutpic {
    max-width: 380px;
}

.dictionary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: 90%;
  }